<div class="border-border border-2 rounded-lg w-4/5 sm:w-1/6 p-2">
    <div class="flex justify-center">En Cours</div>

    <div class="text-secondary-foreground">
        Conformément aux réquisitions du parquet de la juridiction
        interrégionale spécialisée financière du parquet de Paris, 28 personnes
        sont renvoyées devant la juridiction de jugement, parmi lesquelles le
        Rassemblement national, Marine Le Pen, Jean-Marie Le Pen ou Wallerand de
        Saint-Just
    </div>

    <div>
        <a
            class="text-primary underline"
            href="https://www.francetvinfo.fr/politique/front-national/affaire-des-assistants-du-fn-au-parlement-europeen-marine-le-pen-et-une-vingtaine-d-autres-personnes-renvoyees-en-correctionnel-pour-detournement-de-fonds-publics_6230829.html"
            >France Info</a
        >
        <a
            class="text-primary underline"
            href="https://www.lemonde.fr/politique/article/2024/03/27/marine-le-pen-sera-jugee-a-partir-du-30-septembre-pour-des-soupcons-de-detournement-de-fonds-europeens_6224493_823448.html"
            >Le Monde</a
        >
    </div>
</div>
