---
import PageTitle from "@/components/PageTitle.astro";
import CandidateCard from "@/components/cards/CandidateCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<PageTitle title="Le RN et la Justice" />

		<div
			class="flex flex-wrap gap-16 justify-center sm:justify-normal mt-5"
		>
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
		</div>
	</main>
</Layout>
