---
import PageTitle from "@/common/PageTitle.astro";
import JusticeCases from "@/justice/components/JusticeCases";
import Layout from "../layouts/Layout.astro";

import Cases from "@/justice/Cases";
---

<Layout title="RN Tracker - Condamnations.">
	<main>
		<PageTitle title="Le RN et la Justice" />

		<div
			class="flex flex-wrap gap-16 justify-center sm:justify-normal mt-5"
		>
			<JusticeCases cases={Cases} />
		</div>
	</main></Layout
>
