---
import CandidateCard from "@/components/cards/CandidateCard.astro";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-3xl font-bold underline dark:text-white">
			Hello Justice
		</h1>

		<CandidateCard/>
	</main>
</Layout>
