---
import CandidateCard from "@/components/cards/CandidateCard.astro";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-3xl font-bold underline dark:text-white">
			Les Affaires du RN
		</h1>

		<div class="flex flex-wrap gap-3 justify-center sm:justify-normal">
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
			<CandidateCard />
		</div>
	</main>
</Layout>
