---
import '@/styles/globals.css';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Votes">
	<main>
		<h1 class="text-3xl font-bold underline dark:text-white">
			Hello Votes
		  </h1>
	</main>
</Layout>
