---
import PageTitle from "@/common/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Votes">
	<main>
		<PageTitle title="Les votes du RN" />
	</main>
</Layout>
